* { box-sizing: border-box }

.circle{
 -webkit-box-shadow: 10px 10px 68px -9px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 68px -9px rgba(0,0,0,0.75);
box-shadow: 10px 10px 68px -9px rgba(0,0,0,0.75); 
}
